@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto&display=swap');

body {
    background-image: url("../img/bg/background\ 1.png");
    background-position: center;
    background-size: 1366px 768px;
    background-size: 100%;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-words {
    display: flex;
    flex-direction: column;
    font-size: 29px;
    font-family: roboto;
    font-style: bold;
    font-weight: 700;
    text-align: left;
    color:#FFFFFF;
    padding-left: 8px;
}

.logo-words h2 {
    font-size: 18px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    font-size: 12px;
    font-family: roboto;
    font-style: normal;
    text-align: center;
    color:#FFFFFF;
    
}

.header-links {
    margin-left: 750px;
    
}

.header-links a {
    display: flex;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contacts {
    color: #FFFFFF;
    margin: 0px 140px 0px 0px;
    text-align: right;
    font-size: 18px;
    justify-content: center;
}

.email {
    margin-bottom: 19px;
}

.container {
    display: grid;
    justify-content: center;
    margin: 25px 0px 0px 160px;
   
}

.container img {
    width: 300px;
    height: 220px;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 80px;
    
}

.grid-item {
    
}

.pop-up {
    position: absolute;
    opacity: 0;
    margin-top: 165px;
    width: 300px;
    height: 55px;
    border: solid #F26522 1px;
    background-color: #F26522;
    color: #FFFFFF;
    font-family: roboto;
    font-style: normal;
    font-weight: 400;

}

.pop-up-text-view-details {
    font-size: 14px;
    position: absolute;
    padding: 29px 37px 12px 160px;

}

.pop-up-text-€50 {
    font-size: 20px;
    position: absolute;
    padding: 29px 243px 12px 16px;    
}

.pop-up-text-from {
    font-size: 10px;
    position: absolute;
    padding: 7px 257px 34px 16px;
}

.pseudo::after {
    content: ">";
    color: #FFFFFF;
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    padding-left: 16px;
}

.links-text {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    font-family: roboto;

}

/* Footer */

.footer-text {
    font-size: 12px;
    font-family: roboto;
    font-style: normal;
    text-align: center;
    color:#FFFFFF;
    margin: 50px 0px 15px 0px;
}

/* Ховеры */

:hover.contacts {
    color: #F26522;
}

.logo-words:hover{
    color: #F26522;
}
.header-links a:hover{
    color: #F26522;
}

:hover.links-text {
    color: #F26522;
}

:hover.logo-link img {
    color: #F26522;
}

:hover.pop-up {
    opacity: 100%;
    transition: 1.2s;
}
